.class-1{
    width: 100px;
    height: 100px;
    background-color: blue;
}
.class-2{
    width: 100px;
    height: 100px;
    background-color: orange;
}
.class-3{
    width: 100px;
    height: 100px;
    background-color: purple;

}
header{
    display: flex;
    flex-direction: column-reverse;
}